version: '3.8'

services:
  moodle:
    image: registry.lazycat.cloud/appdb/moodle:202306271
    ports:
      - "80:80"
    volumes:
      - ./contentdir/loginform.mustache:/var/www/html/lib/templates/loginform.mustache
      - ./contentdir/docker-entrypoint.sh:/usr/local/bin/docker-entrypoint.sh
      - ./contentdir/zh_cn:/var/www/html/lang/zh_cn
      - moodledata:/var/www/moodledata
    environment:
      - MOODLE_LANG=zh_cn
      - MOODLE_URL=https://moodle.lhbox.heiyu.space/
      - MOODLE_DB_TYPE=mariadb
      - MOODLE_DB_HOST=db
      - MOODLE_DB_NAME=moodle
      - MOODLE_DB_USER=root
      - MOODLE_DB_PASS=password
      - MOODLE_DB_PORT=3306
      - MOODLE_DB_PREFIX=mdl_
      - MOODLE_FULLNAME=在线学习平台
      - MOODLE_SHORTNAME=学习平台
      - MOODLE_SUMMARY=我的个人在线学习平台
      - MOODLE_ADMIN_USER=admin
      - MOODLE_ADMIN_PASS=password
      - MOODLE_ADMIN_EMAIL=moodle@heiyu.space
    depends_on:
      - db

  db:
    image: mariadb:10.6.14
    environment:
      - MARIADB_ROOT_PASSWORD=password
    volumes:
      - dbdata:/var/lib/mysql
  adminer:
    image: adminer:4.8.0-standalone
    depends_on:
      - db
    ports:
      - 8080:8080

volumes:
  dbdata:
  moodledata: