version: '3'
services:
  web:
    image: registry.lazycat.cloud/appdb/listpal:202305151730
    environment:
      - APP_DEBUG=1

      # - DB_CONNECTION=sqlite
      # - DB_DATABASE=/host_var/sqlite/database.sqlite
      # 经尝试并确认，使用 sqlite 数据库会损坏功能，推测表字段类型支持不足引起的。

      - DB_DATABASE=listpal
      - DB_CONNECTION=mysql
      - DB_HOST=db
      - DB_PORT=3306
      - DB_USERNAME=root
      - DB_PASSWORD=root

    volumes:
      - ./srv/image-files/usr/local/bin/docker-entrypoint.sh:/usr/local/bin/docker-entrypoint.sh
      - ./lzcapp_var/env/:/host_var/env/
      - ./srv:/srv
      # - ./lzcapp_var/sqlite/:/host_var/sqlite/
    ports:
      - 80:80
  db:
    image: mariadb:10.2
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=listpal
    volumes:
      - ./contentdir/mysql_conf.d:/etc/mysql/conf.d
      - ./lzcapp_var/database/:/var/lib/mysql
