version: "3.9"
x-lazycat-app:
  id: calibre
  icon: icon_calibre.png
  title: Calibre
  summary: E-book management
  screenshots:
    - screenshot_calibre.png
  categories:
    - files
  quality: normal
services:
  calibre:
    image: linuxserver/calibre-web:0.6.14
    volumes:
    - calibre--config--config:/config
    - calibre--normal--Documents:/books
    labels:
      ingress-8083: calibre
volumes:
  calibre--config--config: {}
  calibre--normal--Documents: {}
