version: "3.3"

services:
  # # You can comment this webserver section if you want to use another webserver/proxy or test PeerTube in local
  # webserver:
  #   image: chocobozzz/peertube-webserver:latest
  #   # If you don't want to use the official image and build one from sources:
  #   # build:
  #   #   context: .
  #   #   dockerfile: Dockerfile.nginx
  #   env_file:
  #     - .env
  #   ports:
  #    - "80:80"
  #    - "443:443"
  #   volumes:
  #     - type: bind
  #       # Switch sources if you downloaded the whole repository
  #       #source: ../../nginx/peertube
  #       source: ./docker-volume/nginx/peertube
  #       target: /etc/nginx/conf.d/peertube.template
  #     - assets:/var/www/peertube/peertube-latest/client/dist:ro
  #     - ./docker-volume/data:/var/www/peertube/storage
  #     - certbot-www:/var/www/certbot
  #     - ./docker-volume/certbot/conf:/etc/letsencrypt
  #   depends_on:
  #     - peertube
  #   restart: "always"

  peertube:
    # If you don't want to use the official image and build one from sources:
    # build:
    #   context: .
    #   dockerfile: ./support/docker/production/Dockerfile.bullseye
    # image: chocobozzz/peertube:production-bullseye
    image: registry.lazycat.cloud/appdb/peertube:v5.2.1-lzc1-4
    # Use a static IP for this container because nginx does not handle proxy host change without reload
    # This container could be restarted on crash or until the postgresql database is ready for connection
    # networks:
    #   default:
    #     ipv4_address: 172.18.0.42
    # env_file:
    #   - .env
    environment:
      - PEERTUBE_WEBSERVER_HOSTNAME=0.0.0.0
      - PEERTUBE_SECRET=c0230d3ed55464c2f3ff2e08d5b8953293f9024be048ed07b0a0ba4456c7c783

    ports:
     - "8000:80" # Comment if you don't want to use the live feature
     - "1935:1935" # Comment if you don't want to use the live feature
     - "9000:9000" # Uncomment if you use another webserver/proxy or test PeerTube in local, otherwise not suitable for production
    volumes:
     - ./config.json:/opt/peertube/config/default.json
    #   - assets:/app/client/dist
    #   - ./docker-volume/data:/data
    #   - ./docker-volume/config:/config
    depends_on:
      - postgres
      - redis
      # - postfix
    restart: "always"
    # command: [ "multirun", "/opt/start-web.sh", "/opt/start-nginx.sh" ]

  postgres:
    image: postgres:13-alpine
    # env_file:
    #   - .env
    environment:
      - POSTGRES_USER=peertube
      - POSTGRES_DB=peertube
      - POSTGRES_PASSWORD=peertube
      - PGDATA=/lzcapp/var/pgdata
    # volumes:
    #   - ./docker-volume/db:/var/lib/postgresql/data
    # restart: "always"

  redis:
    image: redis:6-alpine
    # volumes:
    #   - ./docker-volume/redis:/data
    # restart: "always"

  # postfix:
  #   image: mwader/postfix-relay
  #   env_file:
  #     - .env
  #   volumes:
  #     - ./docker-volume/opendkim/keys:/etc/opendkim/keys
  #   restart: "always"

# networks:
#   default:
#     ipam:
#       driver: default
#       config:
#       - subnet: 172.18.0.0/16

# volumes:
#   assets:
#   certbot-www:
