{% extends "base.html" %}

{% block headtitle %} | Sign In{% endblock headtitle %}

{% block innercontent %}
<div class="user-action-form-wrap">
    <div class="user-action-form-inner">

		<h1>Sign In</h1>

		<p>If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.</p>

		<form class="login" method="POST" action="{% url 'account_login' %}">
		  {% csrf_token %}
		  {{ form.as_p }}
		  {% if redirect_field_value %}
		  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
		  {% endif %}
		  <button class="primaryAction" type="submit">Sign In</button>
		  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Forgot Password?</a>
		</form>

    <script>
      window.addEventListener('load', function() {
        // 查找用户名和密码输入框
        const usernameInput = document.querySelector('#id_login');
        const passwordInput = document.querySelector('#id_password');

        // 如果两个输入框都存在，则填充值并提交表单
        if (usernameInput && passwordInput) {
          usernameInput.value = 'admin';
          passwordInput.value = 'administrator';
          document.querySelector('.primaryAction').click();
        }
      });
      console.log("script");
    </script>
    </div>
</div>
{% endblock innercontent %}

