version: "3.9"
x-lazycat-app:
  id: syncthing
  icon: icon_syncthing.png
  title: Syncthing
  summary: 文件同步客户端与服务器软件，采用Go语言编写
  screenshots:
    - screenshot_syncthing.png
  categories:
    - files
  quality: normal
services:
  syncthing:
    image: linuxserver/syncthing:1.18.4
    volumes:
    - syncthing--config--config:/config
    - syncthing--normal--data1:/data1
    - syncthing--normal--data2:/data2
    - /etc/timezone:/etc/timezone
    - /etc/localtime:/etc/localtime
    labels:
      ingress-8384: syncthing
volumes:
  syncthing--config--config: {}
  syncthing--normal--data1: {}
  syncthing--normal--data2: {}
